{% extends 'myapp/base.html' %}


{% block body %}
<h1>This is a checkout page</h1>
<form action="">
    <h1>Complete Your order</h1>
    <p>Please recheck your address</p>
    <label for="">Full Name</label>
    <input type="text" value="{{address.full_name}}" id="">
    <div>
        <label for="">Address 1</label>
        <input type="text" value="{{address.line1}}" id="">
    </div>
    <div>
        <label for="">Address 2</label>
        <input type="text" value="{{address.line2}}" id="">
    </div>
    <div>
        <label for="">City</label>
        <input type="text" value="{{address.city}}" id="">
    </div>
    <div>
        <label for="">State</label>
        <input type="text" value="{{address.state}}" id="">
    </div>
    <div>
        <label for="">Postal Code</label>
        <input type="text" value="{{address.postal_code}}" id="">
    </div>
    <div>
        <label for="">Country</label>
        <input type="text" value="{{address.country}}" id="">
    </div>
    <button type="submit">Complete Order</button>
</form>
<script>
    $(document).on("submit",function(e){
        e.preventDefault();
        $.ajax({
            type:"POST",
            url:"{% url 'place-order' %}",
            data:{
                csrfmiddlewaretoken:"{{csrf_token}}",
                action:"post",

            },
            success:function(json){
                window.location.replace("{% url 'order-success' %}")
            },
            error:function(){
                window.location.replace("{% url 'order-failed' %}")
            }
        })
    })
</script>
{% endblock %}